body{
    background-color: #080710;
    padding: 10px;
    margin-left: 15%;

}
.gallery{
    left: 50%;
    float: left;
    width: 190px;
    /* height: 300px; */
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.gallery:hover{
    border: 1px solid #777;
}

.gallery img{
    width: 100%;
    height: 110px;

}

.product{
    padding: 15px ;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.button{
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 300;
    width: 100%;
    background: linear-gradient(#ff512f, #f09819 ) ;
}
.button:hover{
    background: #1d00f4;
    border: 2px solid #777;
}

