*{
    box-sizing: border-box;
}

.form_design{
 background-color: #f0f8ff;
 padding: 30px;
 overflow: 0;
}

.form_design input, select{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 12px;
    border-radius: 4px;
}

.form_design input:focus{
    outline: 1px solid #04aa6d;
}

.form_design textarea{
    height: 80px;
    width: 100%;
    border-radius: 4px;
    resize: vertical;
    padding: 15px;
}

input[type=button]{
 background-color: #04aa6d;
 color: #fff;
 padding: 10px 10px;
 border: none;
 cursor: pointer;
}